<!DOCTYPE html>
<html lang="en">
<head>
  <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
  <title>Login</title>
</head>
<body>

  <%- include('partials/_header') %>
  
  <main style="margin: 1em;">
  
  <h3>Login</h3>
  <form action="/login" method="POST">
    <div class="form-group mb-2">
      <div>Email:<input type="email" name="email" /></div>
    </div>
    <div class="form-group mb-2">
      <div>Password:<input type="password" name="pass" /></div>
    </div>
      
      <div><button type="submit" class="btn btn-primary">Log in</button></div>
    </form>
  </main>
</body>
</html>